<div class="modal-overlay" (click)="onCloseModal()">
    <div class="modal-container" (click)="stopPropagation($event)">
        <div class="modal-body">
            <form class="modal-form" #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm.value)">
                <label>
                    Username:
                    <input type="text" ngModel name="username" required>
                    <div *ngIf="newUserForm.controls['username'].touched && newUserForm.controls['username'].errors?.['required']"
                        class="error-message">Username is required
                    </div>
                </label>
                <label>
                    Password:
                    <input type="password" ngModel name="password" required>
                    <div *ngIf="newUserForm.controls['password'].touched && newUserForm.controls['password'].errors?.['required']"
                        class="error-message">Password is required
                    </div>
                </label>
                <label>
                    First Name:
                    <input type="text" ngModel name="firstName">
                </label>
                <label>
                    Last Name:
                    <input type="text" ngModel name="lastName">
                </label>
                <label>
                    Email:
                    <input type="email" ngModel name="email" required>
                    <div *ngIf="newUserForm.controls['email'].touched && newUserForm.controls['email'].errors?.['required']"
                        class="error-message">Email is required</div>
                </label>
                <label>
                    Profile Image URL:
                    <input type="text" ngModel name="profileImageUrl">
                </label>
                <label>
                    Role:
                    <input type="text" ngModel name="role" required>
                    <div *ngIf="newUserForm.controls['role'].touched && newUserForm.controls['role'].errors?.['required']"
                        class="error-message">Role is required
                    </div>
                </label>
                <button type="submit" [disabled]="newUserForm.invalid" class="btn btn-primary">Create
                    User
                </button>
            </form>
        </div>
    </div>
</div>