.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fade-in 0.2s ease-in forwards;
}

.modal-container {
    background-color: #e7f4f8;
    border-radius: 4px;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    animation: fade-in 0.2s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-body {
    font-family: monospace, serif;
    margin-bottom: 20px;
    color: #242424;
}

.top-container {
    display: flex;
    margin-bottom: 30px;
}

.image-container {
    flex-basis: calc(100% / 4);
    border-radius: 20%;
    overflow: hidden;
}

.top-info-container {
    flex-basis: calc(3*(100% / 4));
    flex-grow: 1;
    flex-shrink: 1;
}

.bottom-info-container {
    flex-grow: 1;
    flex-shrink: 1;
}

.info-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: baseline;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}

.badge-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-outline-info:hover {
    color: #ffffff;
}

.teal-icon {
    color: rgb(0, 195, 255);
}

.red-icon {
    color: #dc3545;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
}


.gi-txt-right {
    text-align: end;
}

.gi-txt-left {
    text-align: start;
}

.gi-txt-center {
    text-align: center;
}