<!-- Nav bar -->
<nav class="navbar fixed-top navbar-expand-md">
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row collapse navbar-collapse" [class.show]="!isCollapsed">
    <div class="col ms-md-2 me-md-2">
      <ul class="navbar-nav">
        <li>
          <a class="navbar-brand ms-4 text-primary" *ngIf="titleAction$ | async as title">{{ title }}
            &nbsp;&nbsp;|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="changeTitle('Users')">
            <i class="fa fa-users"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="changeTitle('Settings')">
            <i class="fa fa-cogs"></i> Settings
          </a>
        </li>
      </ul>
    </div>
    <div class="col ms-md-2 me-md-2">
      <form>
        <input class="form-control text-start nav-search-field" type="search" placeholder="Search">
      </form>
    </div>
    <div class="col ms-md-2 me-md-2 text-end">

      <a class="nav-link me-md-4" data-toggle="tab" (click)="changeTitle('Profile')">
        <i class="fa fa-user"></i> Profile
      </a>
    </div>
  </div>
</nav>
<!-- Main Content -->
<div class="container">

  <div class="tab-content mt-4" id="myTabContent">

    <!-- User Table -->
    <div class="tab-pane fade show active" id="users">
      <div class="mb-3 float-end">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-info" (click)="showNewUserModal()">
            <i class="fa fa-plus"></i> New User
          </button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="getUsers(true)" class="btn btn-info">
            <i class="fas fa-sync" [ngClass]="{'fa-spin': refreshing}"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead class="text-center">
          <tr class="text-center">
            <th>Photo</th>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let user of users" (click)="showUserModal(user)">
            <td>
              <img height="40" width="40" src="{{user?.profileImageUrl}}" alt=""
                class="rounded-circle img-fluid img-thumbnail" />
            </td>
            <td>{{ user?.publicId }}</td>
            <td>{{ user?.firstName }}</td>
            <td>{{ user?.lastName }}</td>
            <td>{{ user?.username }}</td>
            <td>{{ user?.email }}</td>
            <td>
              <span class="badge" [ngClass]="{'badge-success': user.enabled, 'badge-danger': !user.enabled}">
                {{ user.enabled ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td class="">
              <div class="btn-group">
                <button class="btn btn-outline-info">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <user-info-modal *ngIf="selectedUser" [user]="selectedUser" (closeModal)="selectedUser = null"></user-info-modal>
    <new-user-modal *ngIf="createNewUser" (closeModal)="createNewUser = false"></new-user-modal>
  </div>
</div>