.container {
    margin-top: 80px !important;
}

.nav-link {
    color: #333;
}

.navbar {
    background: #000000;
}

.text-primary {
    color: rgb(238, 238, 238) !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.text-muted {
    color: rgb(255, 255, 255) !important;
    font-size: 0.8rem;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.nav-link {
    color: #b3b3b3;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-search-field {
    color: #ffffffb0 !important;
    border: 0px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
}

.nav-search-field::placeholder {
    color: rgb(143, 142, 142);
}

.table {
    background-color: #cfcfcf;
    border-radius: 15px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead th {
    background-color: #a0a0a0;
    color: #1e2022;
}

.table tbody td {
    background-color: #cccccc;
    color: #343a40;
}

.table .badge-success {
    background-color: #28a745;
    color: #fff;
}

.table .badge-danger {
    background-color: #dc3545;
    color: #fff;
}

.table .btn-outline-info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.table .btn-outline-info:hover {
    color: #ffffff;
}

.table .btn-outline-danger {
    border-color: #dc3545;
    color: #ca3642;
}

.table .btn-outline-danger:hover {
    color: #ffffff;
}