.breadcrumb {
    background-color: lightgrey;
}

.nav-link {
    color: #333;
}

.container {
    margin-top: 20px;
}

.text-primary {
    color: rgba(64, 136, 196, 0.5) !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.text-muted {
    font-size: 0.8rem;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.nav-link-users,
.nav-link-settings,
.nav-link-welcome {
    color: #333;
}

.nav-link-users.active,
.nav-link-settings.active,
.nav-link-welcome.active {
    font-weight: bold;
}

.nav-link-users:hover,
.nav-link-settings:hover,
.nav-link-welcome:hover {
    color: #5c88b1;
}