<!-- Nav bar -->
<nav class="navbar fixed-top navbar-expand-md">
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row collapse navbar-collapse" [class.show]="!isCollapsed">
    <div class="col ms-md-2 me-md-2">
      <ul class="navbar-nav">
        <li>
          <a class="navbar-brand ms-4 text-primary" *ngIf="titleAction$ | async as title">{{ title }}
            &nbsp;&nbsp;|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="changeTitle('Users')">
            <i class="fa fa-users"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="changeTitle('Settings')">
            <i class="fa fa-cogs"></i> Settings
          </a>
        </li>
      </ul>
    </div>
    <div class="col ms-md-2 me-md-2">
      <form>
        <input class="form-control text-center nav-search-field" type="search" placeholder="Search">
      </form>
    </div>
    <div class="col ms-md-2 me-md-2 text-end">
      <a class="nav-link me-md-4" data-toggle="tab" (click)="changeTitle('Profile')">
        <i class="fa fa-user"></i> Profile
      </a>
    </div>
  </div>
</nav>
<!-- Main Content -->
<div class="container">

  <div class="tab-content mt-4" id="myTabContent">

    <!-- User Table -->
    <div class="tab-pane fade show active" id="users">
      <div class="mb-3 float-end">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
            <i class="fa fa-plus"></i> New User
          </button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-info">
            <i class="fas fa-sync fa-spin"></i><i class="fas fa-sync"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead class="text-center">
          <tr class="text-center">
            <th>Photo</th>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>
              <img height="40" width="40" src="" alt="" class="rounded-circle img-fluid img-thumbnail" />
            </td>
            <td>1234455</td>
            <td>John</td>
            <td>Doe</td>
            <td>johndoe</td>
            <td>john@mail.com</td>
            <td>
              <span class="badge badge-success">Active</span>
              <span class="badge badge-danger">Inactive</span>
            </td>
            <td class="">
              <div class="btn-group">
                <button class="btn btn-outline-info">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <button [hidden]="true" type="button" data-toggle="modal" data-target="#viewUserModal"></button>
        <button [hidden]="true" type="button" data-toggle="modal" data-target="#editUserModal"></button>
      </table>
    </div>
  </div>
</div>